fastapi
uvicorn
gunicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt
requests
python-multipart
authlib
httpx
itsdangerous
qrcode[pil]
Pillow
